.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $default-color;
  background-color: $shadow-color; 
}

.modal-content {
  background-color: $white;
  margin: 15% auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid darken($grey-2,30);
  width: 80%;
  border-radius: 0.4em;
}

.close {
  color: $default-tint;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: $default-color;
  text-decoration: none;
  cursor: pointer;
}