/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 1.865;
  background-color: $background-color;
  transition: all 0.5s;
  box-shadow: 0 2px 8px rgba(0,0,0,0.16), 0 2px 8px rgba(0,0,0,0.23);

  // Positioning context for the mobile navigation icon
  position: relative;
  z-index: 999;
}

.site-header-sm {
  min-height: $spacing-unit * 1.5;
  background-color: $background-color;
  transition: all 0.5s;
  box-shadow: 0 2px 8px rgba(0,0,0,0.16), 0 2px 8px rgba(0,0,0,0.23);

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 400;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  transition: all 0.5s;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-title-sm {
  @include relative-font-size(1.625);
  font-weight: 400;
  line-height: $base-line-height * $base-font-size * 1.8;
  height: 30px;
  font-size: 20px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  transition: all 0.5s;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.logo {
  margin-right: 10px;
  margin-bottom: 5px;
  height: 35px;
  transition: all 0.5s;
}

.logo-sm {
  margin-right: 10px;
  margin-bottom: 5px;
  height: 22px;
  transition: all 0.5s;
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;
  transition: all 0.5s;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 17px;
    right: $spacing-unit / 1.5;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

.site-nav-sm {
  float: right;
  line-height: $base-line-height * $base-font-size * 1.75;
  transition: all 0.5s;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 7px;
    right: $spacing-unit / 1.67;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 30px;
      height: 30px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 31px;
      height: 26px;
      line-height: 0;
      padding-top: 8px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(25% - (#{$spacing-unit} / 2));
  width: calc(25% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(25% - (#{$spacing-unit} / 2));
  width: calc(25% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
  display: none;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-read-more {
  font-size: $small-font-size;
  color: $grey-color;
  float: right;
}

.post-link {
  display: block;
  @include relative-font-size(1.2);
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(1.8);
  line-height: 1.2;
  font-weight: 800;
  color: $grey-color-dark;

  @include media-query($on-laptop) {
    @include relative-font-size(1.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.reading-time {
  float: right;
}

/**
 * Sticky header with progress bar
 */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .page-content {
  padding-top: $spacing-unit * 3;
}

.progress-container {
  width: 100%;
  height: 5px;
  background: $grey-color-light;
  transition: all 0.2s;
}

.progress-container-sm {
  width: 100%;
  height: 2px;
  background: $grey-color-light;
  transition: all 0.2s;
}

.progress-bar {
  height: 5px;
  background: $grey-color-dark;
  width: 0%;
  transition: all 0.2s;
}

.progress-bar-sm {
  height: 2px;
  background: $grey-color-dark;
  width: 0%;
  transition: all 0.2s;
}

/**
* Hide index-page title
* Index page should has this id
**/

#index-page {
  display: none;
}

/**
* Back to top
**/

#scroll {
  position: fixed;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: $text-color;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  opacity: 0.8;
  filter: "alpha(opacity=80)";
  -ms-filter: "alpha(opacity=80)";
}
#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: $background-color;
}
#scroll:hover {
  background-color: $grey-color;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

/**
* Search box
**/

.search {
  &__container {
      padding-top: 10px;
      padding-bottom: 10px;
      width: 94%;
  }

  &__title {
    padding-top: 10px;
    padding-bottom: 10px;
    color: darken($grey-color, 15%);
    margin-left: $spacing-unit;
    font-size: 1.2em;
  }
  
  &__input {
      width: 100%;
      padding: 12px 24px;
      background-color: transparent;
      transition: transform 250ms ease-in-out;
      font-size: 14px;
      line-height: 18px;   
      color: #575756;
      background-color: transparent;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 18px 18px;
      background-position: 95% center;
      border-radius: 50px;
      border: 1px solid #575756;
      transition: all 250ms ease-in-out;
      backface-visibility: hidden;

      &::placeholder {
          color: color(#575756 a(0.8));
          text-transform: uppercase;
          letter-spacing: 1.1px;
      }

      &:hover,
      &:focus {
          padding: 12px 0;
          outline: 0;
          border: 1px solid transparent;
          border-bottom: 1px solid #575756;
          border-radius: 0;
          background-position: 100% center;
      }
  }

  &__results ul {
    color: $grey-color;
    margin-left: $spacing-unit * -1;
  }

  &__results li {
    list-style-type: circle;
    margin-left: $spacing-unit * 2;

  }

  &__results a {
    color: $grey-color;
    font-size: 0.9em;
  }

  &__results a:hover {
    color: darken($grey-color, 15%);
  }
}

.divider-wrapper {
  padding-bottom: $spacing-unit;
  margin-left: $spacing-unit;
}

.divider {
	position: relative;
	margin-top: 40px;
	height: 1px;
}

.div-transparent:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0%;
	right: 0%;
	width: 100%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, $grey-color, transparent);
}

.div-less-transparent:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0%;
	right: 0%;
	width: 100%;
	height: 1px;
	background-image: linear-gradient(to left, $grey-color, $grey-color-dark, $grey-color);
}

.div-arrow-down:after {
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: $background-color;
	border-bottom: 1px solid $grey-color-dark;
	border-right: 1px solid $grey-color-dark;
}
