<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}

  <a href="#" id="scroll" style="display: none;"><span></span></a>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="{{ "/" | relative_url }}js/sticky-progress.js"></script>
  <script src="{{ "/" | relative_url }}js/back-to-top.js"></script>
</body>

</html>