<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}


  <script>
    window.onscroll = function () { stickyHeaderProgress() };

    var header = document.getElementById("site-header")
    var sticky = header.offsetTop;

    function stickyHeaderProgress() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }

      var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
      var height = document.documentElement.scrollHeight - window.innerHeight;
      var scrolled = (winScroll / height) * 100;

      document.getElementById("theProgressBar").style.width = scrolled + "%";
    }
  </script>
</body>

</html>