---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Written by</span>
    {% if page.author %}
    {{ page.author }}
    {% else %}
    {{ site.author.name }}
    {% endif %}

    {% if page.date %}
    <br>
    <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
    <br><br><time class="reading-time">{% include reading-time.html %}</time>
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  {{ content }}
  {% if site.enable_comments %}
    {% include comments.html %}
  {% endif %}
</div>

<div class="pagination">
  {% if page.next.url %}
  <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
  <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" id="scroll" class="top">Top</a>
</div>
<div id='scroll-progress'></div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{{ "/assets/js/back-to-top.js" | relative_url }}"></script>
<script src="{{ "/assets/js/scroll.js" | relative_url }}"></script>

